<section id="pattern">
    <h1>Pattern <small> - {{title}}</small></h1>

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
            <div class="card-event mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h3>{{ signals?.length }} signals received</h3>
                </div>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--4-col">
            <div class="card-event mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h4>
                        <span *ngIf="isLoading">Seaching pattern ...</span>
                        <span *ngIf="pattern">
                            {{ pattern?.length }} elements in pattern
                        </span>
                    </h4>
                </div>
                <div *ngIf="pattern" class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)=guess(pattern)>
                        Test pattern
                    </a>
                    <div class="mdl-layout-spacer"></div>
                    <i *ngIf="guessed === true" class="material-icons">check_circle</i>
                    <i *ngIf="guessed === false" class="material-icons">error</i>
                </div>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--4-col">
        </div>
    </div>

</section>
